*~
*.swp
.idea

# output of git svn show-ignore below
# /
/target
/work
/dojo
/*.iws
/*.ipr
/*.iml
/derby.log
/maven.log
/build.xml
/build-dependency.xml
/velocity.log*
/junit*.properties
/surefire*.properties
/.project
/.classpath
/.settings
/.deployables
/.wtpmodules
/.externalToolBuilders
/create.sql
/drop.sql
/derby.log


# /rave-package
/rave-package/target
/rave-package/work
/rave-package/dojo
/rave-package/*.iws
/rave-package/*.ipr
/rave-package/*.iml
/rave-package/derby.log
/rave-package/maven.log
/rave-package/build.xml
/rave-package/build-dependency.xml
/rave-package/velocity.log*
/rave-package/junit*.properties
/rave-package/surefire*.properties
/rave-package/.project
/rave-package/.classpath
/rave-package/.settings
/rave-package/.deployables
/rave-package/.wtpmodules
/rave-package/.externalToolBuilders
/rave-package/create.sql
/rave-package/drop.sql
/rave-package/derby.log
/rave-package/maven-eclipse.xml

# /rave-package/src/main/java/
/rave-package/src/main/java/META-INF

# /rave-portal
/rave-portal/target
/rave-portal/work
/rave-portal/dojo
/rave-portal/*.iws
/rave-portal/*.ipr
/rave-portal/*.iml
/rave-portal/derby.log
/rave-portal/maven.log
/rave-portal/build.xml
/rave-portal/build-dependency.xml
/rave-portal/velocity.log*
/rave-portal/junit*.properties
/rave-portal/surefire*.properties
/rave-portal/.project
/rave-portal/.classpath
/rave-portal/.settings
/rave-portal/.deployables
/rave-portal/.wtpmodules
/rave-portal/.externalToolBuilders
/rave-portal/create.sql
/rave-portal/drop.sql
/rave-portal/derby.log
/rave-portal/maven-eclipse.xml

# /rave-portal/src/main/java/
/rave-portal/src/main/java/META-INF

# /rave-shindig
/rave-shindig/target
/rave-shindig/work
/rave-shindig/dojo
/rave-shindig/*.iws
/rave-shindig/*.ipr
/rave-shindig/*.iml
/rave-shindig/derby.log
/rave-shindig/maven.log
/rave-shindig/build.xml
/rave-shindig/build-dependency.xml
/rave-shindig/velocity.log*
/rave-shindig/junit*.properties
/rave-shindig/surefire*.properties
/rave-shindig/.project
/rave-shindig/.classpath
/rave-shindig/.settings
/rave-shindig/.deployables
/rave-shindig/.wtpmodules
/rave-shindig/.externalToolBuilders
/rave-shindig/create.sql
/rave-shindig/drop.sql
/rave-shindig/derby.log
/rave-shindig/maven-eclipse.xml

# /rave-shindig/src/main/java/
/rave-shindig/src/main/java/META-INF